apiVersion: v1
kind: Secret
type: Opaque             
metadata:
  name: '{{ ansible_operator_meta.name }}-postgresql-admin'
  namespace: '{{ ansible_operator_meta.namespace }}'
stringData:
  username: postgres
  password: '{{ lookup('password', '/dev/null chars=ascii_letters,digits,punctuation length=20') }}'